
.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	position: sticky;
	height: 100vh;
	color: white;
	gap: 70px;
	margin-left: 10px;
}
#head {
	text-align: center;
	text-decoration: underline;
}

h1 {
	writing-mode: vertical-rl;
	margin: 20px;             /* 4. Hapus margin-top, biarkan 'gap' yang mengatur jaraknya */
	letter-spacing: 1px;
	font-size: 0.9rem;
	font-family: "Share tech", sans-serif;
	height: fit-content;
}
body {
	background: black;
}
.body.active {
	overflow: hidden;
}
.contents {
	display: flex;
	margin-top: 50px;
}
main {
	margin-left: 40px;
	color: white;
	z-index: 9;
	font-family: "Roboto Condensed";
	font-size: 0.9rem;
	letter-spacing: 0.5px;
}
main h2 {
	margin: 0px;
	font-size: 0.9rem;
}
main img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 7px;
}
main p {
	font-size: 0.8rem;
	position: relative;
	right: 26px;
}
.h2 {
	background: white;
	color: black;
	padding: 2px 3px;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 16;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
header img {
	height: 20px;
	margin-left: 20px;
}
header button {
	background: none;
	border: none;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin-right: 20px;
	font-size: 3rem;
	bottom: 5px;
	font-family: "Roboto Condensed";
}

header .menu-bar::before {
	content: "=";"
	font-size: 3rem;
	font-weight: lighter;
}

.menu-bar.active::before {
	content: "x";
	transform: scaleY(0.7);
}
.menu-bar.active::after {
	transform: translate(0,-11px) rotateX(45deg);
	position: absolute;
}

.hero h2, p {
	color: white;
	font-family: "Roboto Condensed";
	margin-left: 25px;
	letter-spacing: 0.5px;
	margin-right: 10px;
}
.hero h2 {
	font-size: 1.1rem;
}
.hero p {
	font-size: 0.8rem;
}
.hero {
height: 200px;
background-size: cover;
border: 1px solid transparent;
}
.hero .content {
	margin-top: 5rem;
	margin-left: 65px;
	margin-right: 10px;
}
.hero video {
	position: absolute;
	z-index: -2;
	object-fit: cover;
	height: 400px;
	width: 100%;
	opacity: 0.5;
}
.page {
	writing-mode: vertical-rl;
	position: absolute;
	left: 38px;
	font-size: 0.65rem;
	letter-spacing: 0.5px;
	z-index: 5;
	color: white;
	font-family: "Share tech";
	max-height: 200px;
	height: 200px;
}
.page::before {
	content: "| ";
	font-size: 1.2rem;
	font-weight: lighter;
	font-family: sans-serif;
}
#page1 {
	top: 130px;
}
#page2 {
	top: 470px;
}
table {
	border: none;
	width: 90%;
	margin-top: 50px;
}
table th, td {
	font-weight: normal;
	border-bottom: 0.5px solid #ccc;
	text-align: start;
	padding: 8px 5px;
	font-size: 0.8rem;
}
.contact {
	margin-top: 50px;
	font-size: 0.8rem;
}
footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	flex-direction: column;
}
footer img {
	height: 30px;
}
footer p {
	font-size: 0.7rem;
}
.navScreen {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: white;
	z-index: 15;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	visibility: hidden;
}
.navScreen.active {
	visibility: visible;
}
.navScreen .actions {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 17rem;
}
.actions a {
	text-align: center;
	font-size: 1.1rem;
	font-family: "Roboto Condensed";
	font-weight: bold;
	letter-spacing: 1px;
}
.navScreen .social-medias {
	margin-bottom: 20px;
}
.navScreen button {
	background: none;
	padding: 9px;
	width: 160px;
	margin: 5px;
	border: 1px solid white;
	border-radius: 0px;
	font-size: 1.1rem;
	color: white;
	font-family: "Roboto Condensed";
}
