
.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	position: sticky;
	height: 100vh;
	color: white;
	gap: 70px;
	margin-left: 10px;
}
#head {
	text-align: center;
	text-decoration: underline;
}

h1 {
	writing-mode: vertical-rl;
	margin: 20px;             /* 4. Hapus margin-top, biarkan 'gap' yang mengatur jaraknya */
	letter-spacing: 1px;
	font-size: 0.9rem;
	font-family: "Share tech", sans-serif;
	height: fit-content;
}
body {
	background: black;
}

.contents {
	display: flex;
	margin-top: 50px;
}
main {
	margin-left: 60px;
	color: white;
	z-index: 9;
	font-family: "Roboto Condensed";
	font-size: 0.9rem;
	letter-spacing: 0.5px;
	margin-right: 20px;
}
main h2 {
	margin: 0px;
	font-size: 0.9rem;
}
main img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 7px;
}
main p {
	font-size: 0.8rem;
	position: relative;
	right: 26px;
}
.h2 {
	background: white;
	color: black;
	padding: 2px 3px;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 11;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
header img {
	height: 20px;
	margin-left: 20px;
}
header button {
	background: none;
	border: none;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	bottom: 12px;
	margin-right: 20px;
}
header button::before {
	content: "_";
	font-size: 3rem;
	font-weight: lighter;
}
header button::after {
	content: "_";
	position: absolute;
	bottom: 10px;
	font-size: 3rem;
	font-weight: lighter;
}
.hero h2, p {
	color: white;
	font-family: "Roboto Condensed";
	margin-left: 25px;
	letter-spacing: 0.5px;
	margin-right: 10px;
}
.hero h2 {
	font-size: 1.1rem;
}
.hero p {
	font-size: 0.8rem;
}
.hero {
height: 200px;
background-size: cover;
border: 0.0000001px solid transparent;
}
.hero .content {
	margin-top: 5rem;
}
.hero video {
	position: absolute;
	z-index: -2;
	object-fit: cover;
	height: 400px;
	width: 100%;
}